<h3>Asks</h3>
<table class="grey">
    <tbody *ngFor="let contribution of asks">
    <tr>
        <td><span *ngIf="contribution.canVote==undefined"><a (click)="vote(contribution)">^</a></span></td>
        <td colspan="2"><a [routerLink]="['ContributionDetail', {'id':contribution.id}]"> {{contribution.title}}</a>
        </td>
    </tr>
    <tr>
        <td>{{contribution.upvote}} points</td>
        <td> by <a [routerLink]="['UserDetail', {'id':contribution.user_id}]">{{contribution.user.name}}</a></td>
        <td><a [routerLink]="['ContributionDetail', {'id':contribution.id}]">Comments</a></td>
    </tr>
    <tr>
        <td colspan="3">
            <hr>
        </td>
    </tr>
    </tbody>
</table>
