<div *ngIf="contribution">
	<table>
		<tr class="athing">
			<td class="ind"></td>
			<td valign="top"><!-- Show votes if logged in and not voted--></td>
			<td class="default">
				<div style="margin-top:2px; margin-bottom: -10px;">
					<span class="comhead">
						<a href="#">{{comment.title}}</a>
						<!-- Show url if not null-->
					</span>
				</div>
				<!--<p>{{contribution.votes.length}} points |-->
				<a href="#">{{comment.created_at}}</a> |
				<!--<a href="#">{{contribution.comments.length}} comments</a></p>-->
				<p>{{comment.content}}</p>
				<textarea [(ngModel)]="comment.content" placeholder="comment" ></textarea>
			<button (click)="test(comment)">TEST</button>
		</tr>
		<tr style="height:10px"></tr>
	</table>
</div>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->