<h3>Newest</h3>
<table class="grey">
    <tbody *ngFor="let contribution of contributions">
    <tr>
	<td>
	    <span class="vote" *ngIf="contribution.canVote==undefined"><a (click)="vote(contribution)">^</a></span>
	</td>
        <td>
            <a [routerLink]="['ContributionDetail', {'id':contribution.id}]"> {{contribution.title}}</a>
            <a [href]="contribution.url" target="_blank">({{contribution.url}})</a>
        </td>
    </tr>
    <tr>
	<td></td>
        <td>{{contribution.upvote}} points | by <a [routerLink]="['UserDetail', {'id':contribution.user_id}]">{{contribution.user.name}}</a> | <a [routerLink]="['ContributionDetail', {'id':contribution.id}]"> Comments</a></td>
    </tr>
    <tr><td><br></td></tr>
    </tbody>
</table>
