<h3>Threads</h3>
<table class="grey">
    <tbody *ngFor="let contribution of threads">
    <tr>
        <td colspan="3">
            {{contribution.content}}
        </td>
    </tr>
    <tr>
        <td>{{contribution.upvote}} points</td>
        <td> by <a [routerLink]="['UserDetail', {'id':contribution.user_id}]">{{contribution.user.name}}</a></td>
        <td> on <a [routerLink]="['ContributionDetail', {'id':par_id}]">{{contribution.parent_name}}</a></td>
    </tr>
    <tr><td><br><br></td></tr>
    </tbody>
</table>
