<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{title}}</span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" *ngIf="loggedIn" [routerLink]="['MeDetail']">Me</a>
                <a class="mdl-navigation__link"  *ngIf="!loggedIn" [href]='login_url'>Login</a>
                <a class="mdl-navigation__link"  *ngIf="loggedIn" (click)='logout()'>Logout</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{title}}</span>
        <nav class="mdl-navigation">
            <a (click)='closeNav()' class="mdl-navigation__link"  [routerLink]="['Newest']">Newest</a>
            <a (click)='closeNav()' class="mdl-navigation__link"  [routerLink]="['Asks']">Asks</a>
            <a (click)='closeNav()' class="mdl-navigation__link"  *ngIf="loggedIn" [routerLink]="['Threads']">Threads</a>
            <a (click)='closeNav()' class="mdl-navigation__link"  *ngIf="loggedIn" [routerLink]="['Submit']">Submit</a>

        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content" style="padding: 20px">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
